/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
  margin: 0;
  text-align: center;
  background-color: #bf9db3;
}

img {
  width: 200px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/images/national-mosque.png);
  background-size: cover;
  padding: 50px 50px 50px 50px;
}

.visit-hero {
  background-color: rgba(68, 46, 68, 0.9);
  padding: 9px 15px;
  border-radius: 11px;
  margin-bottom: 40px;
  color: white;
}

.sights-hero {
  background-color: rgba(68, 46, 68, 0.9);
  padding: 9px 10px;
  border-radius: 5px;
  margin-top: 40px;
  color: white;
}

.activity-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-3 {
  background-color: rgba(68, 46, 68, 0.9);
  padding: 9px 15px;
  border-radius: 15px;
  margin-top: 40px;
  color: white;
}

.activity {
  margin-top: 60px;
}

#blur-img {
  margin: 20px auto;
  height: 100px;
  max-width: 100px;
  border: 6px solid #442e44;
  border-radius: 200px;
  background-image: url("/images/dark-blur-blurred-gradient.jpg");
  background-size: cover;
}

#jabi-lake-mall:hover {
  background-image: url("/images/jabi-lake-mall.jpg");
}

#millennium-park-abuja:hover {
  background-image: url("/images/millennium-park-abuja.png");
}

#art-and-craft-village:hover {
  background-image: url("/images/arts-and-craft-village.jpg");
}

.sub-head {
  font-style: italic;
  font-weight: lighter;
}

#guide {
  background-color: white;
}
